<div id="login-page">
  <app-header></app-header>
  <section fxLayout="row" fxLayoutAlign="center">
    <div class="box width-1400">
        <div class="calendar-container">
          <div class="login-bg" [ngStyle]="{ backgroundImage: 'url(' + bgUrl + ')'}"></div>
          <div class="login-time" fxLayout="row" fxLayoutAlign="center center">
            <div class="day">{{day}}</div>
            <div class="month">{{month}}</div>
          </div>
        </div>
        <div class="login-form">
          
        </div>
    </div>
  </section>
</div>

